body{
	un comment the background color below to see the height of the image
	background-color:rgb(182, 205, 224);
	color: #898787;
}
h1,.home{
	color: black;
}
p{
	line-height: 25px;
}
.navigation{
	color: #898787;
}
.container{
	display:grid;
	 grid-template-rows: auto auto auto;
	 gap:1px;
	 width: 900px;
 }
 .header,.content,.foot{
	 border: 2px solid orangered;
	 padding-top:10px ;
	 padding-bottom: 10px;
 }
 .header{
	padding-left: 25px;
 }
 .content{
	padding-bottom: none;
 }
 .collab{
	 font-weight:800;
	 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	 color:brown;
 }

 .left-section{
	 position: relative;
	 top: 50px;
}
.right_section  {
 position:relative;
 left: 390px;
 bottom: 300px;
}

.start_btn{
	position: relative;
	left: 210px;
	height: 40px;
	width:130px;
	border: none ;
	background-color: rgb(159, 35, 138);
	color: white;
  border-radius: 20px;
  
}
.content_btn{
	background-color: white;
	border: 1px solid #eeeeee;
	border-radius: 20px;
	width: 140px;
	height: 30px;
	font-weight: 700;
	color:rgb(159, 35, 138); ;
}
.btn_text{
	color: orangered;
}
.content{
	padding-top: 70px;
	padding-bottom: -50px;
	padding-left:40px ;
	margin-left: -20px;
}
a{
	text-decoration: none;
	margin-left: 20px;
}


